<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>

    <div th:if="${paramName != null}" th:text="${paramName}"></div>
    <div th:if="${paramName == null}" th:text="'Without name'"></div>

    <div th:if="${paramAge != null}" th:text="${paramAge}"></div>
    <div th:if="${paramAge == null}" th:text="'Without age'"></div>

    <div th:if="${paramMarried != null}" th:text="${paramMarried}"></div>
    <div th:if="${paramMarried == null}" th:text="'Without married'"></div>

</body>
</html>